header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap row;
    font-family: Roboto Slab;
    font-weight: 200;
    font-size: 24pt;
    background-color: #00D1FF;
    height: 5.625rem;
}
header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap row;
    margin: 0;
    background-color: #c4c4c4;
    text-align: center;
    padding: 0rem;
    height: 5rem;
    font-family: Roboto Slab;
    font-weight: 400;
    font-size: 36pt;
}



#gabi {
    background-color: #8d4af5;
    padding: 10%;
    text-align: justify;
    margin: 0;
    font-family: "Courier New";
    font-weight: bold;
}

#gi{
    background-color: #a086f7;
    padding: 10%;
    text-align: justify;
    margin: 0;
    font-family: "Courier New";
    font-weight: bold;
}

#joao{
    background-color: #2355f5;
    padding: 10%;
    text-align: justify;
    margin: 0;
    font-family: "Courier New";
    font-weight: bold;
}

#bia{
    background-color: #eb60dd;
    padding: 10%;
    text-align: justify;
    margin: 0;
    font-family: "Courier New";
    font-weight: bold;
}

#caio{
    background-color: #83fb71;
    padding: 10%;
    text-align: justify;
    margin: 0;
    font-family: "Courier New";
    font-weight: bold;
}

body{
    display: flex;
    flex-direction: column;
    margin: none;
    padding: none;
    background-color: #c4c4c4;
}
body p{
    font-size: 24pt;
    font-family: Roboto Slab;
}