header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap row;
    margin: 0;
    background-color: #c4c4c4;
    text-align: center;
    padding: 0rem;
    height: 5rem;
    font-family: Roboto Slab;
    font-weight: 400;
    font-size: 36pt;
}
header nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: wrap row;
    font-family: Roboto Slab;
    font-weight: 200;
    font-size: 24pt;
    background-color: #00D1FF;
    height: 5.625rem;
}
header nav a{
    text-decoration: none;
    color: black;
}
body{
    margin: 0;
    background-color: #c4c4c4;
}
main{
    position: relative;
    top: 35px;
}
main h1{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 36pt;
    font-family: Roboto Slab;
    color: black;
}

main sub{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 24pt;
    font-family: Roboto Slab;
}

#itau{
    position: relative;
    top: 40px;
}

#logo_itau{
    flex-flow: row wrap;
    display: flex;
    position: absolute;
    top: 600px;
    left: 170px;
}

#logo_uber{
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    top: 1800px;
    left: 170px;
}

#logo_yellow{
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    top: 2750px;
    left: 170px;
}

#logo_trem{
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    top: 3750px;
    left: 170px;
}

#logo_onibus{
    display: flex;
    flex-flow: row wrap;
    position: absolute;
    top: 4750px;
    left: 170px;
}